---
const year = new Date().getFullYear();
---

<footer>
  <div class="container mx-auto text-center">
    <p><a href="https://github.com/United-Codes/uc_ai">UC AI</a>: accessible AI for Oracle developers.</p>
    <p>&copy; {year} <a href="https://www.united-codes.com/">United Codes</a>. All rights reserved.</p>
    <p>
      <a href="https://www.united-codes.com/ords/uc/r/uc_portal/privacy">Privacy Policy</a> | 
      <a href="https://www.united-codes.com/ords/uc/r/uc_portal/terms">Terms of Use</a>
    </p>
  </div>
</footer>
<script defer data-domain="uc-ai.united-codes.com" src="https://ptrack.united-codes.io/js/script.js"></script>


<style>
  footer {
    color: var(--sl-color-gray-3);
    margin-top: 3rem;
    padding-top: 2rem;
    font-size: 0.875rem;
    border-top: 1px solid var(--sl-color-gray-6);

    & p {
      margin: 0.75rem 0;
    }
  }
</style>
